<h3>Zapraszamy na edycję T-zero serwera Knarf</h3>
<p>Oferujemy jak zwykle:</p>
<ul>
    <li>najnowszą wersję minecrafta</li>
    <li>luźną i przyjazną atmosferę</li>
    <li>fajną mapę</li>
    <li>swobodę tworzenia</li>
</ul>