body {
    background: whitesmoke;
    margin: 0 auto;
    max-width: 50em;
    line-height: 1.5;
    padding: 2em 1em 4em;
    color: #4a4a4a;
}

.badge {
    border: 2px solid #00701e;
    border-radius: 5px;
    color: white;
    background: #00701e;
}

footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    font-size: 0.8em;
    background-color: #d6d6d6;
    text-align: center;
}

header {
    text-align: center;
    color: white;
    background: #263d36 no-repeat center;
    background-size: cover;
    padding: 2em 1em;
    font-size: 4em;
}

h4 {
    font-weight: normal;
}

a {
    color: #00701e;
}

header span {
    font-size: 0.4em;
}