<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="minecraft, server, {{ info.server_name }}, {{ info.version }}">
    <title>{{ info.server_name }}</title>
    <style>
        {{ stylesheet }}
    </style>
</head>
<body>
<header style="background-image:url(data:image/{{ header_type }};base64,{{ header_image }})">
    {{ info.server_name }}<br>
    <span>Adres IP: <code>{{ info.server_IP }}</code></span>
</header>
<h4>Nasz serwer używa wersji <span class="badge">{{ info.version }}</span></h4>
<hr>
<div id="main">
    <h1>Opis serwera</h1>
    {{ description }}
</div>
<hr>
<div id="rules">
    <h1>Zasady</h1>
    <ol>
        {% for rule in rules %}
            <li>{{ rule }}</li>
        {% endfor %}
    </ol>
</div>
<hr>
<div id="commands">
    <h1>Lista komend</h1>
    <ul>
        {% for command in commands %}
            <li>
                <b>{{ command.command }}</b> -
                {{ command.description }}
                {% for group in command.groups %}<span class="badge">{{ group }}</span> {% endfor %}
            </li>
        {% endfor %}
    </ul>
</div>
<hr>
<div id="links">
    <h1>Linki powiązane z naszym serwerem</h1>
    <ul>
        {% for link in links %}
            <li><a href="{{ link.url }}">{{ link.name }}</a></li>
        {% endfor %}
    </ul>
</div>
<hr>
<div id="contact">
    <h1>Kontakt</h1>
    <ul>
        {% for contact in contacts %}
            <li><span class="badge">{{ contact.type }}</span> {{ contact.address }}</li>
        {% endfor %}
    </ul>
</div>
</body>
<footer>
    Wygenerowane przez
    <a href="https://bitbucket.org/Behoston/minecraft-server-site-generator">
        <b>minecraft server site generator</b>
    </a> autorstwa Knarf. Wersja {{ version }}.
</footer>
</html>
